body {
  padding-bottom: 30px;
}

*{
  font-family: 'Oxygen', sans-serif;
}
/** Navigation **/
#navigation a.navbar-brand {
  color: #fff;
  font-weight: bold;
  text-decoration: none;

}

#navbar a:hover, #navbar a:active {
  background-color: #3b3b3b;
}
#navbar a {
  color: #fff;
}

/** Content **/
#content section {
  background-color:   #20B2AA;
  margin-bottom: 20px;
  height: 350px;
  overflow: auto;

}

p{
  font-style: italic;
}


